/               @sachinkaushik @avinash-palleti @xwu2intel
/README.md      @sachinkaushik @avinash-palleti @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/**/docs/       @sachinkaushik @avinash-palleti @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/**/README.md   @sachinkaushik @avinash-palleti @xwu2intel @open-edge-platform/open-edge-platform-docs-write
LICENSE            @xwu2intel
CONTRIBUTING.md    @xwu2intel @open-edge-platform/open-edge-platform-docs-write
CODE_OF_CONDUCT.md @xwu2intel
SECURITY.md        @xwu2intel
README.md          @xwu2intel @open-edge-platform/open-edge-platform-docs-write
